div{
	position: relative;
}

body{
	background-color:#BCBEC0;
}

#logo img {
	width: 40%;
	height: auto;
}

head{

}

h1{
	text-align: center;
	font-size: 50px;
	color:#FF00FF;
}

h2{
	text-align: center;
	font-style: italic;
}

a {
	color: #00DD00;
}
a:visited {
	color:#009900;
}
a:hover {
	color:#993399;
}

.git{
	font-size: 30px;
} 

.Alex{
	font-size: 18px;
}

.Destiny{
	font-size: 18px;
}

.Meghan{
	font-size: 18px;
}

h3{
	font-size: 25px;
	color:#00DD00;
	text-decoration: underline;
}